node_modules
.next
out
build
dist
**/src/**/*.js
**/src/**/*.d.ts
**/src/**/*.js.map
**/src/**/*.d.ts.map
*.tsbuildinfo
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
example-transaction-files/
frontend/e2e/.auth/
error
ponto-key
gemini-key.claude/
frontend/test-results/
frontend/e2e/.auth/
